/* Global */
#main_intro {
    background-image: radial-gradient(#e5e5e5, #b1a7a5);
}

.flex_c {
    display: flex;
    justify-content: center;
}

.flex_space_b {
    display: flex;
    justify-content: space-between;
}

.soc_med , .btn-default {
    color: #ea3057; 
}

.soc_med:hover , .btn-default:hover {
    color: #ba2a48;
}

/* Intro Page */
.hero_img {
    /* background-image: url('../img/hero-intro-1.jpg'); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-default {
    background-color: #191919;
}
.btn-default:hover {
    background-color: #313131;
}



