/* Global */
#main_intro {
    background-image: radial-gradient(#e5e5e5, #b1a7a5);
    height: 100vh;
}

#main {
    background-color: #e5e5e5;
    color: #ea3057;
    padding: 0;
    margin: 0;
}

.dg {
    background-color: #5b5553;
}

.flex_c {
    display: flex;
    justify-content: center;
}

.flex_space_b {
    display: flex;
    justify-content: space-between;
}

.flex_space_b_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.soc_med , .btn-default , li>a {
    color: #ea3057; 
}

.soc_med:hover , .btn-default:hover li>a:hover {
    color: #ba2a48;
}

.thumbnail {
    height: 300px;
}
/* Intro Page */
.hero_img {
    /* background-image: url('../img/hero-intro-1.jpg'); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-default {
    background-color: #191919;
}
.btn-default:hover {
    background-color: #313131;
}

/* Home Page */
.text-sm {
    color: #5b5553;
}

.jumbotron {
    border-radius: 0px;
    border-style: none;
    height: 400px;
}

.home_back {
    background-image: url('../img/hero-intro-1.jpg');

}

li>a {
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
}

section {
    min-height: 400px;
}

footer {
    font-family: 'Fascinate Inline', cursive;
}


